.umA {
    display: none;
    visibility: hidden;
    width: 400px;
    height: auto;
    margin: 35px auto;
    transition: All 1s easy;
    /*border: 2px solid $blood;*/
}

.diaSemana1 {
    display: none;
    visibility: hidden;
    width: 400px;
    height: auto;
    margin: 35px auto;
    transition: All 1s easy;
    /*border: 2px solid $blood;*/
}


.diaSemana2 {
    display: none;
    visibility: hidden;
    width: 400px;
    height: auto;
    margin: 35px auto;
    transition: All 1s easy;
    /*border: 2px solid $blood;*/
}

.diaSemana3 {
    display: none;
    visibility: hidden;
    width: 400px;
    height: auto;
    margin: 35px auto;
    transition: All 1s easy;
    /*border: 2px solid $blood;*/
}

.diaSemana4 {
    display: none;
    visibility: hidden;
    width: 400px;
    height: auto;
    margin: 35px auto;
    transition: All 1s easy;
    /*border: 2px solid $blood;*/
}


.diaSemana5 {
    display: none;
    visibility: hidden;
    width: 400px;
    height: auto;
    margin: 35px auto;
    transition: All 1s easy;
    /*border: 2px solid $blood;*/
}