$sangue: rgb(137, 24, 24);
$dark: black;
$buraco: rgba(0, 0, 0, 0.8);
$nuvem: white;
$sol: yellow;
$blood: red;
$gelo: rgb(242, 236, 236);
$fogo: orangered;
$laranja: orange;
$figado: rgb(135, 17, 17);
$rato: grey;
$neve: rgb(211, 207, 207);
$fog: rgb(224, 219, 212);